<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wario Land 3 &ndash; Civilization&rsquo;s greatest achievement.</title>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Englebert&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body class="wl3-body">
        <header class="wl3-site-logo">
            <a class="wl3-site-logo-link" href="/">
                <img class="wl3-site-logo-img" src="/img/wario-land-3-logo.png" alt="Wario Land 3" />
            </a>
        </header>
        <nav id="head-nav" class="head-nav">
            <ul class="head-nav-l">
                {% for link in header.navigation %}
                    <li class="head-nav-i head-nav-i-{{ link.slug }}"><a class="head-nav-a head-nav-a-{{ link.slug }}" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            <form action="/search/", method="get">
                <input type="text" name="query">
                <input type="submit" value="¡Search!">
            </form>
        </nav>
        <section class="wl3-primary">{% block content %}{% endblock %}</section>
        <footer class="wl3-footer">
            <div class="wl3-footer-content">
                <p>Web design & writing by J. J. W. Mezun.</p>
                <p>
                    Wario Land 3 and all related copyrights (graphics, sounds, levels, and such) and trademarks are owned by Nintendo © 2000 - 2017. All such content is used here without Nintendo&rsquo;s permission for non-profit purposes
                    of reference and recreation.
                </p>
                <p>All original content on this website is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.</a></p>
                <p>Last Updated: <time>Thu January 26, 2017 - 7:28 PM (UTC).</time></p>
            </div>
        </footer>
    </body>
</html>
