<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <head>
        <title>Wario Land 3 &ndash; Civilization&rsquo;s greatest achievement.</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,900,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Rambla:700" rel="stylesheet" />
        <link href="css/main.css" rel="stylesheet" />
        <link href="css/index.css" rel="stylesheet" />
    </head>
    <body class="wl3-body">
        <header class="wl3-site-header"><h1 class="wl3-site-header-title"><a href="/">Wario Land 3</a></h1></header>
        {% if header.navigation is not empty %}
            <nav id="wl3-site-nav" class="wl3-site-nav">
                <ul class="wl3-site-nav-list">
                    {% for link in header.navigation %}
                        <li class="wl3-site-nav-list-item wl3-site-nav-list-item-about"><a class="wl3-site-nav-link wl3-site-nav-link-about" href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <form action="/search/", method="get">
            <input type="text" name="query">
            <input type="submit" value="¡Search!">
        </form>
        <section class="wl3-primary">{% block content %}{% endblock %}</section>
        <footer class="wl3-footer">
            <div class="wl3-footer-content">
                <p>Web design & writing by J. J. W. Mezun.</p>
                <p>
                    Wario Land 3 and all related copyrights (graphics, sounds, levels, and such) and trademarks are owned by Nintendo © 2000 - 2017. All such content is used here without Nintendo&rsquo;s permission for non-profit purposes
                    of reference and recreation.
                </p>
                <p>All original content on this website is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.</a></p>
                <p>Last Updated: <time>Thu January 26, 2017 - 7:28 PM (UTC).</time></p>
            </div>
        </footer>
    </body>
</html>
