<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <head>
        <title>Wario Land 3 &ndash; Civilization&rsquo;s greatest achievement.</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,900,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Rambla:700" rel="stylesheet" />
        <link href="css/main.css" rel="stylesheet" />
        <link href="css/index.css" rel="stylesheet" />
    </head>
    <body class="wl3-body">
        <header class="wl3-site-header"><h1 class="wl3-site-header-title">Wario Land 3</h1></header>
        <nav id="wl3-site-nav" class="wl3-site-nav">
            <ul class="wl3-site-nav-list">
                <li class="wl3-site-nav-list-item wl3-site-nav-list-item-about"><a class="wl3-site-nav-link wl3-site-nav-link-about" href="index.html">About</a></li>
                <li class="wl3-site-nav-list-item wl3-site-nav-list-item-abilities"><a class="wl3-site-nav-link wl3-site-nav-link-abilities" href="controls-and-abilities.html">Controls & Abilities</a></li>
                <li class="wl3-site-nav-list-item wl3-site-nav-list-item-enemies"><a class="wl3-site-nav-link wl3-site-nav-link-enemies" href="enemies.html">Enemies</a></li>
                <li class="wl3-site-nav-list-item wl3-site-nav-list-item-status"><a class="wl3-site-nav-link wl3-site-nav-link-status" href="status-effects.html">Status Effects</a></li>
                <li class="wl3-site-nav-list-item wl3-site-nav-list-item-levels"><a class="wl3-site-nav-link wl3-site-nav-link-levels" href="levels.html">Levels</a></li>
                <li class="wl3-site-nav-list-item wl3-site-nav-list-item-treasures"><a class="wl3-site-nav-link wl3-site-nav-link-treasures" href="treasures.html">Treasure List</a></li>
                <li class="wl3-site-nav-list-item wl3-site-nav-list-item-minigolf"><a class="wl3-site-nav-link wl3-site-nav-link-minigolf" href="minigolf.html">The Dreaded Minigolf Game</a></li>
                <li class="wl3-site-nav-list-item wl3-site-nav-list-item-downloads"><a class="wl3-site-nav-link wl3-site-nav-link-downloads" href="downloads.html">Downloads</a></li>
            </ul>
        </nav>
        <section class="wl3-primary">{% block content %}{% endblock %}</section>
        <footer class="wl3-footer">
            <div class="wl3-footer-content">
                <p>Web design & writing by J. J. W. Mezun.</p>
                <p>
                    Wario Land 3 and all related copyrights (graphics, sounds, levels, and such) and trademarks are owned by Nintendo © 2000 - 2017. All such content is used here without Nintendo&rsquo;s permission for non-profit purposes
                    of reference and recreation.
                </p>
                <p>All original content on this website is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.</a></p>
                <p>Last Updated: <time>Thu January 26, 2017 - 7:28 PM (UTC).</time></p>
            </div>
        </footer>
    </body>
</html>
