{% extends "base.html.twig" %}

{% block content %}
    <header class="lv-header lv-{{ level.code }}">
        <h3 class="lv-header-title lv-header-title-{{ level.code }}" title="{{ level.fullName }}">{{ level.fullName }}</h3>
        {% include( "partials/level-header-content.html.twig" ) %}
    </header>
{% endblock %}