<header class="lv-header lv-{{ level.code|lower }}">
    <h3 class="lv-header-title lv-header-title-{{ level.code|lower }}" title="{{ level.fullName }}">{{ level.fullName }}</h3>
    {% include( "partials/level-header-content.html.twig" ) %}
</header>