<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-top" id="top">
    <h1>The Dreaded Minigolf Game</h1>
    <div class="wl3-shot wl3-shot-minigolf wl3-shot-minigolf-menu"></div>
    <p>Throughout the game you will find doors that lead to an annoyingly repetitive minigolf game.</p>
</div>
<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-purpose" id="purpose" style="padding-top: 106px; margin-top: -106px;">
    <h2>The Purpose</h2><img class="wl3-shot" src="img/minigolf-block-rise.gif">
    <p>Beating said game will raise the minigolf block in that level for that playthrough (reverts back to normal after returning to the map).</p>
    <p>Playing costs a certain # o’ coins, depending on how far in the game you are. @ the <b>beginning</b> o’ the game they cost <b>10</b> coins; by the <b>end</b>, they cost <b>50</b>.</p>
</div>
<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-how-game-works" id="how-game-works" style="padding-top: 106px; margin-top: -106px;">
    <h2>How the Game Works</h2>
    <div class="wl3-shot wl3-shot-minigolf wl3-shot-minigolf-clear"></div>
    <p>Wario needs to charge attack a Para-Goom with his elbow &amp; make it land in the hole @ the far right o’ the field within a certain # o’ turns.</p>
    <p>If you don’t get the Para-Goom in the hole by the time the # o’ turns is reached, you lose &amp; have to pay ’gain to retry.</p>
</div>
<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-controls" id="controls" style="padding-top: 106px; margin-top: -106px;">
    <h2>Controls</h2>
    <p>Each turn is started by pressing A. Then you need to time A somewhere ’long the white-to-orange gradient. The farther right the arrow is when you hit A, the farther the Para-Goom is knocked.</p><img class="wl3-image wl3-image-center" src="img/minigolf-meter.gif">
    <p>Be careful: if you don’t hit the A button before the arrow reaches the end o’ the bar, Wario will just collapse &amp; you’ll waste a turn.</p>
    <div class="wl3-shot wl3-shot-minigolf wl3-shot-minigolf-fail"></div>
    <p>If you hit the arrow within the gradient, then the arrow will slide back leftward &amp; you’ll need to press A when its in the red or blue rectangles on the left side o’ the bar.</p>
    <p>If it’s in the red, the Para-Goom will bounce a li’l forward. If it’s in the right blue spot, it’ll bounce farther ’head. If it’s on the left spot, it’ll bounce backward.</p>
    <p>‘Gain, not pressing A before the arrow slides past these spots will cause Wario to collapse &amp; make you lose a turn.</p>
    <div class="wl3-shot wl3-shot-minigolf wl3-shot-minigolf-outline"></div>
    <p>In the pauses ’tween turns, one can move the camera leftward &amp; rightward to see the rest o’ the field. Releasing the arrow buttons will cause the camera to slide back to where Wario is, &amp; pressing A or B will cause the camera to rush back to Wario.</p>
    <p>If one looks @ the field, one will see a pink outline o’ the Para-Goom. This shows where the Para-Goom will land with a full hit. This doesn’t include the effects o’ its after-bounce, but does automatically adjust to terrain differences (see below).</p>
</div>
<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-terrain" id="terrain" style="padding-top: 106px; margin-top: -106px;">
    <h2>Terrain</h2>
    <div class="wl3-shot wl3-shot-minigolf wl3-shot-minigolf-rough"></div>
    <p>Throughout the field are various terrain that affect one’s gameplay.</p>
    <p>Most o’ the field is covered with generic turf on which the Para-Goom acts normally. You’ll want to have the Para-Goom land on it as much as possible.</p>
    <p>Rough grass &amp; sand reduces the distance in which Wario can hit the Para-Goom, making one waste mo’ turns getting it o’er to the end.</p>
    <p>Water &amp; lava are e’en worse. No matter where the Para-Goom lands in it, the Para-Goom is sent back to the leftmost end o’ the pit &amp; the player loses an extra turn (in addition to the 1 they lost hitting the Para-Goom).</p>
</div>
<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-levels" id="levels" style="padding-top: 106px; margin-top: -106px;">
    <h2>Levels with the Minigolf Game</h2>
    <ul>
        <li>N1 Out of the Woods</li>
        <li>N3 The Vast Plain</li>
        <li>N6 Sea Turtle Rock</li>
        <li>W1 Desert Ruins</li>
        <li>W2 The Volcano’s Base</li>
        <li>W6 The West Crater</li>
        <li>S1 The Grasslands</li>
        <li>S2 The Big Bridge</li>
        <li>S4 The Steep Canyon</li>
        <li>S6 Above the Clouds</li>
        <li>E4 The Colossal Hole</li>
    </ul>
</div>
<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-treasures" id="treasures" style="padding-top: 106px; margin-top: -106px;">
    <h2>Treasures with the Minigolf Game</h2>
    <ul>
        <li>N1 Out of the Woods – Red Chest</li>
        <li>N3 The Vast Plain – Red Chest</li>
        <li>N3 The Vast Plain – Green Chest</li>
        <li>N6 Sea Turtle Rock – Red Chest</li>
        <li>W1 Desert Ruins – Green Chest</li>
        <li>W2 The Volcano’s Base – Green Chest</li>
        <li>W6 The West Crater – Blue Chest</li>
        <li>S1 The Grasslands – Red Chest</li>
        <li>S2 The Big Bridge – Green Chest</li>
        <li>S4 The Steep Canyon – Blue Chest</li>
        <li>S6 Above the Clouds – Green Chest</li>
        <li>E4 The Colossal Hole – Red Chest</li>
    </ul>
</div>
<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-trivia" id="trivia" style="padding-top: 106px; margin-top: -106px;">
    <h2>Trivia</h2>
    <ul>
        <li>Within the span o’ collecting all 100 treasures, you will need to beat this minigame 12 times.</li>
        <li>The minigolf game is located in 11 levels.</li>
        <li>N3 The Vast Plain is not only the only level that requires the minigolf game to be beaten to get mo’ than 1 (2) treasure, it’s also the only level to have mo’ than 1 minigolf door &amp; block.</li>
        <li>The minigolf game is ne’er required for the gray treasure o’ any level.</li>
    </ul>
</div>
<div class="wl3-primary-section wl3-primary-section-minigolf wl3-minigolf-mega-minigolf" id="mega-minigolf" style="padding-top: 106px; margin-top: -106px;">
    <h2>Mega Minigolf</h2>
    <div class="wl3-shot wl3-shot-minigolf wl3-shot-minigolf-mega-1"></div>
    <p>If you haven’t gotten ’nough minigolf throughout the main game, once you collect all 8 crayon treasures &amp; fully colored in the hill ’tween the North &amp; West, when passing ’tween North &amp; West on the map Wario will stop in front o’ a door in the hill, allowing the player to press Up to enter.</p>
    <div class="wl3-shot wl3-shot-minigolf wl3-shot-minigolf-mega-2"></div>
    <p>In there you will find a longer form o’ the minigolf game, where one has to play through multiple fields per course &amp; the fields are longer. Here pars don’t cause one to get game o’er if one takes too many turns, but simply affects one’s score ala real golf.</p>
    <div class="wl3-shot wl3-shot-minigolf wl3-shot-minigolf-mega-3"></div>
    <p>You start out with 3 courses representing morn, afternoon, &amp; evening. The 4th course, which is simply a redder afternoon, is unlocked by getting all 8 music coins within a single playthrough o’ every level to fill in the picture that appears after beating a level.</p>
    <p>Though you can’t unlock anything with this game @ all, it still costs 50 coins to play a course.</p>
</div>